.jumbotron{
    background-image: url(../img/antigua-guatemala.jpg);
    background-size: cover;
    height: 450px;
    color: white;
    margin-top: 50px;
}

footer{
    padding: 10px 10px 0 10px;
    background-color: #474747;
    color: #0b9e51;
    margin-bottom: 0px;
    margin-top: 10px;
    padding: 20px 20px 20px 20px;
}
a{
    color: #0b9e51;
}
.card-hotel{
    flex: 1 200px;
    margin-top: 10px;
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;
}

.color-block2{
    background-color: darkgray;
}

.footer-address-icon{
    padding-right: 10px;
}

.tab-content{
    padding-top: 10px;
}
